.animatedTextContainer {
  display: flex;
  flex-wrap: wrap; 
  overflow: visible; 
  word-break: break-word; 
  white-space: normal;
}

.white {
  color: #e3e0de;
}

.gold {
  color: #917f67
}

.small {
  font-size: 16px;
}

.meduim {
  font-size: 24px;
}

.large {
  font-size: 36px;
}

.extraLarge {
 font-size: 64px;
}

.animatedChar{
  display: inline-block; 
  opacity: 0; 
  transform: translateY(20px); 

  animation: reveal 0.5s forwards; 
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}