.text {
  font-family: "Work Sans", sans-serif;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semiBold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.white {
  color: #e3e0de;
}

.black {
  color: #0A0B0D;
}

.gold {
  color: #dec4a1
}

.darkGold {
  color: #917f67
}