.HeaderTextContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 150px;
}

.headerText {
  font-size: 16px;
  letter-spacing: 0.08em;
  opacity: 0.8;
}

.subHeaderName {
  font-size: 64px;
  margin-top: 20px;
  line-height: 1.1;
  text-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}

.animatedText {
  font-size: 64px;
  margin-top: 10px;
  line-height: 1.1;
  max-width: 100%;
  word-wrap: break-word;
  text-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}

.subHeaderSubTextContainer {
  max-width: 685px;
  margin-top: 30px;
}

.subHeaderSubText {
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.9;
}


@media (max-width: 950px) {
  .homePageHeaderContainer {
    padding-left: 25px;
    padding-right: 25px;
  }

  .HeaderTextContainer {
    align-items: center;
    text-align: center;
    padding-top: 120px;
  }

  .subHeaderName,
  .animatedText {
    text-align: center;
  }

  .subHeaderSubTextContainer {
    display: flex;
    justify-content: center;
  }

  .subHeaderSubText {
    text-align: center;
  }
}