.techContainer {
  width: 320px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
  border: 1px solid #333333;
  margin: 6px;
}

.techIcon {
  width: 64px;
  max-height: 70px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.toolTip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
  white-space: nowrap;

  position: absolute;

  background-color: #000;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  pointer-events: none;
}

.techIcon:hover .toolTip {
  visibility: visible;
  opacity: 1;
}
