body {
  background-color: #0a0b0d;
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/new-portfolio/public/fonts/WorkSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/new-portfolio/public/fonts/WorkSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/new-portfolio/public/fonts/WorkSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/new-portfolio/public/fonts/WorkSans-Bold.woff2') format('woff2');
}

