.navItemButton:hover {
  .textStyles {
    color: #0a0b0d;
  }
}


.active {
  background: #dec4a1 !important;
  border: 4px solid #dec4a1 !important;
  cursor: pointer;
  .textStyles {
    color: #0a0b0d;
  }
}