.homePageContainer {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.learMoreButton:hover {
  .buttonText {
    color: #0a0b0d;
  }
}
