.pageContainer {
  width: 100%;
  min-height: 100vh;
  padding: 0 !important;
  background: linear-gradient(to bottom right, #0f1419, #202a34);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  box-sizing: border-box;

  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
}
