.navigationConatiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  position: sticky;
  z-index: 10;
  padding: 25px 15px;
}

.navItemsContainer {
  display: flex;
  gap: 60px;
}
